<div class="list-group">
	<div class="list-group-item flex-column align-items-start" *ngIf="! isActive">
		<message-form [(cngMessage)]="message"></message-form>

		<div class="d-flex align-items-center justify-content-between">
			<p class="mb-0">Password</p>
			<button type="button" class="btn btn-primary btn-sm" (click)="toggleActive(true)">Edit</button>
		</div>
	</div>

	<div class="list-group-item flex-column align-items-start" *ngIf="isActive">
		<message-form [(cngMessage)]="message"></message-form>

		<form class="" [(cngValidatorForm)]="form" (ngSubmit)="submit()" novalidate>
			<fieldset class="form-group">
				<label for="{{ inputPassword.name }}">{{ inputPassword.label }}</label>
				<input class="form-control" id="{{ inputPassword.name }}" name="{{ inputPassword.name }}" type="password" [ngClass]="{
					'is-invalid' : ! inputPassword.isValid && inputPassword.isDirty && ! inputPassword.isActive
				}"
					   [(ngModel)]="inputPassword.value"
					   [(cngValidatorField)]="inputPassword">

				<div class="invalid-feedback" *ngIf="! inputPassword.isValid && inputPassword.isDirty && ! inputPassword.isActive">
					{{ inputPassword.errorMessage }}
				</div>
			</fieldset>

			<fieldset class="form-group">
				<label for="{{ inputPasswordNew.name }}">{{ inputPasswordNew.label }}</label>
				<input class="form-control" id="{{ inputPasswordNew.name }}" name="{{ inputPasswordNew.name }}" type="password" [ngClass]="{
					'is-invalid' : ! inputPasswordNew.isValid && inputPasswordNew.isDirty && ! inputPasswordNew.isActive
				}"
					   [(ngModel)]="inputPasswordNew.value"
					   [(cngValidatorField)]="inputPasswordNew">

				<div class="invalid-feedback" *ngIf="! inputPasswordNew.isValid && inputPasswordNew.isDirty && ! inputPasswordNew.isActive">
					{{ inputPasswordNew.errorMessage }}
				</div>
			</fieldset>

			<fieldset class="form-group">
				<label for="{{ inputPasswordNewConfirm.name }}">{{ inputPasswordNewConfirm.label }}</label>
				<input class="form-control" id="{{ inputPasswordNewConfirm.name }}" name="{{ inputPasswordNewConfirm.name }}" type="password" [ngClass]="{
					'is-invalid' : ! inputPasswordNewConfirm.isValid && inputPasswordNewConfirm.isDirty && ! inputPasswordNewConfirm.isActive
				}"
					   [(ngModel)]="inputPasswordNewConfirm.value"
					   [(cngValidatorField)]="inputPasswordNewConfirm">

				<div class="invalid-feedback" *ngIf="! inputPasswordNewConfirm.isValid && inputPasswordNewConfirm.isDirty && ! inputPasswordNewConfirm.isActive">
					{{ inputPasswordNewConfirm.errorMessage }}
				</div>
			</fieldset>

			<button type="submit" class="btn btn-primary btn-sm" [disabled]="! form.isValid || isLoading">Submit</button>
			<button class="btn btn-secondary btn-sm float-right" (click)="toggleActive(false)">Close</button>
		</form>
	</div>
</div>