<div class="col col-4 col-border">
	<div class="title">
		Connect With
	</div>
	
	<div class="content">
		<div class="connect-facebook">
			<div class="icon">
				<svg>
					<use xlink:href="assets/images/sprites.svg#icon-facebook"></use>
				</svg>
			</div>
			<div class="caption">
				Facebook
			</div>
		</div>

		<div class="connect-google">
			<div class="icon">
				<svg>
					<use xlink:href="assets/images/sprites.svg#icon-google"></use>
				</svg>
			</div>
			<div class="caption">
				Google
			</div>
		</div>

		<div class="connect-microsoft">
			<div class="icon">
				<svg>
					<use xlink:href="assets/images/sprites.svg#icon-microsoft"></use>
				</svg>
			</div>
			<div class="caption">
				Microsoft
			</div>
		</div>
	</div>
</div>