<div class="container">
	<div class="row mt-4">
		<div class="col col-12">
			<h5>Account</h5>
			<hr class="mb-4">
		</div>
	</div>

	<div class="row">
		<div class="col col-8">
			<div class="row">
				<div class="col col-12"><user-settings-account-name></user-settings-account-name></div>
			</div>

			<div class="row mt-3">
				<div class="col col-12"><user-settings-account-email></user-settings-account-email></div>
			</div>

			<div class="row mt-3">
				<div class="col col-12"><user-settings-account-password></user-settings-account-password></div>
			</div>
		</div>

		<div class="col col-4">
			<sidebar-user-settings></sidebar-user-settings>
		</div>
	</div>
</div>