<nav class="navbar navbar-expand-sm navbar-dark bg-primary">
    <a class="navbar-brand" href="#">Irissa</a>

    <!-- Sandwich Button-->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent"> 
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="#">Checklist</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Budget</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Timer</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#">Contacts</a>
            </li>       
        </ul>  
        <ul class="navbar-nav ml-auto">
            <menu-settings></menu-settings>
        </ul>
    </div>
</nav>