<div class="container mt-5">
	<div class="row justify-content-center">
		<div class="col col-lg-6">
			<h5>Sign In</h5>
			<hr class="mb-4">

			<div class="alert alert-danger" *ngIf="isError">
				Invalid email or password
			</div>

			<form [(cngValidatorForm)]="form" (ngSubmit)="submit()" novalidate>
				<fieldset class="form-group">
					<label for="{{ email.name }}">Email</label>
					<input class="form-control" id="{{ email.name }}" name="{{ email.name }}" type="text" [ngClass]="{
								'is-invalid' : ! email.isValid && email.isDirty && ! email.isActive
						   }"
						   [(ngModel)]="email.value"
						   [(cngValidatorField)]="email">

					<div class="invalid-feedback" *ngIf="! email.isValid && email.isDirty && ! email.isActive">
						{{ email.errorMessage }}
					</div>
				</fieldset>

				<fieldset class="form-group">
					<label for="{{ password.name }}">Password</label>
					<input class="form-control" id="{{ password.name }}" name="{{ password.name }}" type="password" [ngClass]="{
								'is-invalid' : ! password.isValid && password.isDirty && ! password.isActive
						   }"
						   [(ngModel)]="password.value"
						   [(cngValidatorField)]="password">

					<div class="invalid-feedback" *ngIf="! password.isValid && password.isDirty && ! password.isActive">
						{{ password.errorMessage }}
					</div>
				</fieldset>

				<div class="float-left">
					<button type="submit" class="btn btn-primary" [disabled]="! form.isValid || isLoading">Submit</button>
				</div>
				<a class="float-right" [routerLink]="['/forgot-password']">
					<strong>Forgot Password?</strong>
				</a>
			</form>
		</div>
	</div>
</div>