<div class="container mt-5">
	<div class="row justify-content-center">
		<div class="col col-lg-6">
			<h5>Change Password</h5>
			<hr class="mb-4">

			<form class="" [(cngValidatorForm)]="form" (ngSubmit)="submit()" novalidate>
				<fieldset class="form-group">
					<label for="{{ password.name }}">Password</label>
					<input class="form-control" id="{{ password.name }}" name="{{ password.name }}" type="password" [ngClass]="{
								'is-invalid' : ! password.isValid && password.isDirty && ! password.isActive
						   }"
						   [(ngModel)]="password.value"
						   [(cngValidatorField)]="password">

					<div class="invalid-feedback" *ngIf="! password.isValid && password.isDirty && ! password.isActive">
						{{ password.errorMessage }}
					</div>
				</fieldset>

				<fieldset class="form-group">
					<label for="{{ passwordConfirm.name }}">Confirm Password</label>
					<input class="form-control" id="{{ passwordConfirm.name }}" name="{{ passwordConfirm.name }}" type="password" [ngClass]="{
								'is-invalid' : ! passwordConfirm.isValid && passwordConfirm.isDirty && ! passwordConfirm.isActive
						   }"
						   [(ngModel)]="passwordConfirm.value"
						   [(cngValidatorField)]="passwordConfirm">

					<div class="invalid-feedback" *ngIf="! passwordConfirm.isValid && passwordConfirm.isDirty && ! passwordConfirm.isActive">
						{{ passwordConfirm.errorMessage }}
					</div>
				</fieldset>

				<button type="submit" class="btn btn-primary" [disabled]="! form.isValid || isLoading">Submit</button>
			</form>
		</div>
	</div>
</div>