
<div class="d-flex flex-column justify-content-around">
    <div class="d-flex card flex-column align-items-center justify-content-center contactHeading">
        <h2 class="w-100 text-center mt-5">Contacts</h2>

        <div class="dropdown align-self-end mr-3">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="sortButton" data-toggle="dropdown">
                Sort By:
            </button>
            <div class="dropdown-menu dropdown-menu-right">
                <h6 class="dropdown-header">First Name</h6>
                <a class="dropdown-item" (click)="sort('name', 'asc')">Alphabetical A-Z</a>
                <a class="dropdown-item" (click)="sort('name', 'desc')">Reverse Z-A</a>
                <h6 class="dropdown-header">Last Name</h6>
                <a class="dropdown-item" (click)="sort('last_name', 'asc')">Alphabetical A-Z</a>
                <a class="dropdown-item" (click)="sort('last_name', 'desc')">Reverse Z-A</a>
                <h6 class="dropdown-header">Email Address</h6>
                <a class="dropdown-item" (click)="sort('email', 'asc')">Alphabetical A-Z</a>
                <a class="dropdown-item" (click)="sort('email', 'desc')">Reverse Z-A</a>
            </div>
        </div>
    </div>

    <div class="contact-card card container-fluid" *ngFor="let contact of contacts" [class.selected]="contact === selectedContact" (click)="onSelect(contact)">
        <div class="card-body">
            <div class="row mw-100 flex-d align-items-baseline">
                <div class="col-sm-2">
                    <h3 class="letter text-muted">{{contact.name[0] | uppercase }}</h3>
                </div>
                <div class="col-sm-5">
                    <h4 class="contactName">{{contact.name}}</h4>
                </div>
                <div class="col-sm-4">
                    <p class="align-text-center">{{contact.email}}</p>
                </div>
                <div class="col-sm-1 ">
                    <!-- Button trigger modal  -->
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#contactEditModal">
                        Edit
                    </button> 
                </div>
            </div>
        </div>
    </div>
    <contact-edit [contact]="selectedContact"></contact-edit>
    <contact-single [contact]="selectedContact"></contact-single>
    <contact-add (onAddContact)="onAddContact($event)"></contact-add>
</div>
<div class="addButton mr-5">
    <button class="btn mr-5 ml-5 2 btn-primary" data-toggle="modal" data-target="#contactAddModal">Add Contact +</button>
</div>


